*{
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}



header{
    background-color: #ffffff;
    height: 120px;
    position: sticky;
    border-bottom: 20px;
    border-style: solid;
    border-color: #45d100;
  }
  
  header img {
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  header h1 {
    float: right;
  
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 5%;
  }


.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    text-align: center;
}


.Enviar{
    margin-top: 2rem;
    background-color: #45d100;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px 40px;
    font-weight: bold;
  }

textarea{
    border: 1px;
    border-color: rgb(161, 161, 161);
    border-style: solid;
}

input{
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(161, 161, 161) ;
}
.seccion {
    margin-bottom: 20px;
}

h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.datos-generales div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 220px;
}

.descripcion {
    width: 100%;
    height: 100px;
}

.radio-buttons label {
    display: inline-block;
    margin-right: 10px;
}

.submit-button {
    text-align: center;
}