@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
}

:root{
    --color-sena: rgb(57,168,1);
    --color-blanco: white;
}

.content{
    margin-top: 70px;
}

.table-container table thead{
    color: var(--color-sena);
}

.table-container table thead tr th{
    color: white;
}

form[id="form1"]{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form[id="form1"] .control-group{
    width: 100%;
}

form[id="form1"] .control-group .controls{
    width: 100%;
    margin: 10px;
}

form[id="form1"] .control-group .controls label{
    width: 100%;
}

form[id="form1"] .control-group .controls label input{
    width: 100%;
    border-color: rgb(57,168,1);
}

form[id="form1"] .buttons-container .controls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

blockquote{
    font-size: 30px;
}

/* ----------------------------- Estilos Modal -------------------------------- */

#Observaciones{
    border: 1px var(--color-sena) solid;
    height: 120px;
    width: 100%;
    resize: none;
}

select[class="form-control"]{
    border: 1px var(--color-sena) solid;
}

/* ----------------------------- Estilos select autocomplete -------------------------------- */

.autocomplete {
    text-align: center;
    margin-top: 50px;
    width: 100%;
}

#ID_Implementos, #ID_Empleado, #id_botiquin {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-color: rgb(57,168,1);
}

#ID_Implementos_Div, #ID_Empleado_Div, #ID_Botiquin_Div {
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 85%;
    border: 1px solid #ccc;
    background-color: rgb(57,168,1);
    color: aliceblue;
}

#ID_Implementos_Div div, #ID_Empleado_Div div, #ID_Botiquin_Div div {
    padding: 10px;
    cursor: pointer;
}

#ID_Implementos_Div div:hover, #ID_Empleado_Div div:hover, #ID_Botiquin_Div div:hover {
    background-color: green;
}
