@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
    text-decoration: none;
}

:root{
    --color-sena: rgb(57,168,1);
    --color-blanco: white;
}

/*---------------------------Modulo Administracion de Usuarios-------------------------*/

body{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    align-items: stretch;
}

#header-administrador{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
    flex: 1 0 100%;
    background-color: #ffffff;
    position: sticky;
    border-bottom: 10px;
    border-style: solid;
    border-color: #45d100;
  }
  
  #header-administrador img {
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  #header-administrador h1 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 5%;
  }


.container-form-table{
    display: flex;
    flex-direction: row;
    flex: 1 0 60%;
    flex-wrap: wrap;
    padding: 4em;
    justify-content: space-evenly;
    align-items: center;
}

.container-form{
    display: flex;
    flex-direction: row;
    flex: 1 0 50%;
    flex-wrap: wrap;
    padding: 4em;
    justify-content: space-around;
    align-items: center;
}

.container_tabla{
    display: flex;
    flex: 1 0 50%;
    text-align: center;
    margin: 12px;
}

[type="submit"]{
    margin: 10px;
}

.campos{
    width: 40rem;
}

/*-------------------------nav vertical-------------------------*/

.vertical-nav {
    display: flex;
    flex: 1 0 40%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    background-color: #f1f1f1;
    position: relative;
    overflow: auto;
  }
  
  .vertical-nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .vertical-nav li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .vertical-nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }