
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#soporte{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-soporte{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.submit-soporte{
    margin: 10px;
}
