*{
    box-sizing: border-box;
    
}

body{

    background-color: black;
    font-size: 100%;
    padding: 0px;
    margin: 0px;

}

/* Contenedor prinicpal */

.cont-prin{

    min-height: 83vh;
    position: relative;
 
}


.cont-menu{
    margin-top: -370px;

}

/* video{

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    object-fit: cover;
} */

.capa{

    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    mix-blend-mode: overlay;
}



/* Contendor del menu de naveganción */

.btn-menu{
    
    margin-top: -140px;
    z-index: 2;
    width: 100%;
    text-align:right;
}

    a:hover{

        color: rgb(36, 36, 36);
        transition: .1s;
    }



header{
    display: flex;
    margin: auto;
    max-width:83%;
    margin-left: 280px;
}


/* Contenedor del texto de la navegación */

header a{
    font-family: 'Shadows Into Light', cursive;
    margin-right: 50px;
    color: white;
    text-decoration: none;
    font-size: 1.7em;

}

/* Contenedor de la imagen del logo */

.cont-logo{
    max-width: 100%;
    height: 100%;
    margin-top: -160px;
    position: relative;
    z-index: 2;
}

    .logo{

        display: flex;
        height: 300px;
        max-width: 300px;
        background-image: url(logo.png);
        background-size: cover;
        background-attachment: contain;
        background-position: center;
        float: star;
    }



/* Media querys */

@media (max-width:502px){

    header{
        display: flex;
        align-items: center;
        margin: auto;
    }
    
    /* Contenedor del texto de la navegación */
    
    header a{
        float: right;
        font-family: 'Shadows Into Light', cursive;
        margin-right: 50px;
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }

    .btn-menu{
        margin-top: 0px;
    }


/* Contenedor del logo */

.cont-logo{
    max-width: 502px;
    margin: auto;
    height: 100%;
    margin-top: -160px;
    z-index: 2;
 
}

    .logo{

        display: flex;
        margin: auto;
        height: 300px;
        max-width: 300px;
        background-image: url(./logoNaranja.png);
        background-size: cover;
        background-attachment: contain;
        background-position: center;
        float: star;

    }
}


@media (max-width:282px){


    .logo{

        display: flex;
        margin: auto;
        height: 250px;
        max-width: 250px;
        background-image: url(./logoNaranja.png);
        background-size: cover;
        background-attachment: contain;
        background-position: center;
        float: star;

    }

    }


/* Media para centrar letra */


    @media (max-width:239px){

        header{
            display: flex;
            text-align: center;  
        }
        
        /* Contenedor del texto de la navegación */
        
        header a{
            font-family: 'Shadows Into Light', cursive;
            margin-right: 50px;
            color: white;
            text-decoration: none;
            font-size: 1.4em;
        }
    
        .btn-menu{
            margin-top: 0px;
        }    
    }
