
Conversación abierta. 1 mensaje sin leer. 

Ir al contenido
Uso de Gmail con lectores de pantalla
3 de 1.409
css nuevo qr
Recibidos

Jonathan Coca torres
Adjuntos
10:40 (hace 11 horas)
para mí


 Un archivo adjunto
•  Analizado por Gmail
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}



header{
    background-color: #ffffff;
    height: 120px;
    position: sticky;
    border-bottom: 20px;
    border-style: solid;
    border-color: #45d100;
  }
  
  header img {
    height: 70px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  header h1 {
    float: right;
  
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 5%;
  }


.contenedor {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    text-align: center;
}


.Enviar{
    margin-top: 2rem;
    background-color: #45d100;
    color: #ffffff;
    border-radius: 5px;
    padding: 20px 40px;
    font-weight: bold;
  }

textarea{
    border: 1px;
    border-color: rgb(161, 161, 161);
    border-style: solid;
}

input{
    border-bottom: 1px;
    border-style: solid;
    border-color: rgb(161, 161, 161) ;
}
.seccion {
    margin-bottom: 20px;
}

h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 5px;
}

.datos-generales div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 220px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  margin-top: 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 5px;
}

* {
	box-sizing: border-box;
  }
  .titel{
	position:relative;
	top:-100px;
	height:80px;
  }
  .titel p{
	color: #13cf45/*#000*/;
	z-index:-1;
	left:-8px;
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:80px;
  }
  .titel span{
	font-family:"Comic Sans MS", cursive, sans-serif;
	font-size:100px;
  }
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
button {
	margin: 20px;
  }
  .custom-btn {
	width: 230px;
	height: 60px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
  }
/* 9 */
.btn-9 {
	border: none;
	transition: all 0.3s ease;
	overflow: hidden;
  }
  .btn-9:after {
	position: absolute;
	content: " ";
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	 background-color: #40ac04;
  background-image: linear-gradient(315deg, #40ac04 0%, #1c5906 74%);
	transition: all 0.3s ease;
  }
  .btn-9:hover {
	background: transparent;
	box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
				-4px -4px 6px 0 rgba(116, 125, 136, .2), 
	  inset -4px -4px 6px 0 rgba(255,255,255,.5),
	  inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
	color: #fff;
  }
  .btn-9:hover:after {
	-webkit-transform: scale(2) rotate(180deg);
	transform: scale(2) rotate(180deg);
	box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
				-4px -4px 6px 0 rgba(116, 125, 136, .2), 
	  inset -4px -4px 6px 0 rgba(255,255,255,.5),
	  inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
  }
Style.css
Mostrando Style.css.