.fieldset-retro{
    position: relative;
    border-right: none;
    border-left: none;
    margin: 0px;
    left: -15px;
    border-top: none;
    border-bottom: none;
    height: 260px;
    font-size: 20px;
    top: 288px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    margin-bottom: 120px;
    background-color: rgba(182, 211, 169, 0.144);
    box-shadow: 0px 0px 10px black;
}

.form-PreguntasS{
    position: absolute;
    width: 100%;
}

#pre-pNumeroR{
    position: absolute;
    font-size: 18px;
    top: 10px;
    margin-left: 50px; 
}

#selectPruebaR{
    position: absolute;
    left: 125px;
    top: 23px;
    width: 50px;
    height: 28px;
    border-radius: 10px;
    text-align: center;
}

#pre-pruebaR{
    position: absolute;
    font-size: 18px;
    left: 200px;
    top: 10px;
    margin-left: 20px;
}

#selectPreguntaR{
    position: absolute;
    left: 310px;
    top: 23px;
    width: 50px;
    height: 28px;
    border-radius: 10px;
    text-align: center;
}

#selectABCD{
    position: absolute;
    font-size: 18px;
    left: 390px;
    top: 10px;
    margin-left: 20px;
}

#selectOpcionABCD{
    position: absolute;
    left: 490px;
    top: 23px;
    width: 50px;
    height: 28px;
    border-radius: 10px;
    text-align: center;
}



#retro-p{
    position: absolute;
    left:150px;
    top: 50px;
}

#input-retro{
    position: absolute;
    left: 180px;
    top: 100px;
    width: 820px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#referencia-p{
    position: absolute;
    left:150px;
    top: 140px;
}

#input-referencia{
    position: absolute;
    left: 180px;
    top: 190px;
    width: 820px;
    height: 40px;
    border-radius: 10px;
    border: none;
}

#btn-preguntas{
    position: absolute;
    top: 205px;
    right: 80px;
    width:150px;
    height: 28px;
    border-radius: 20px;
}

#btn-buscar{
    position: absolute;
    top: 80px;
    left: 44px;
    width:70px;
    height: 28px;
    border-radius: 20px;
}