body{
    padding: 0;
    margin: 0;
    background-color: #efefef;
}

a{
    text-decoration: none;
    font-size: 1.6rem;
    margin: 1rem;
    color: black;
}

.cabecera{
    margin-top: -6em;
    width: 75%;
    float: right;
    text-align:right;
    margin-right: 3em;
}

.logue{
    margin-left: 8em;
    margin-top: 2em;
    background-image: url(../images/2111638.png);
    background-size: cover;
    width: 10em;
    height: 10em;
}

.container-full{
    background-color: white;
    box-shadow: 10px 5px 50px rgb(94, 93, 93);
}

