*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.cont-prin{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.767),
        rgba(0, 0, 0, 0.767)
       )
    ,url(../images/Videojuego-sst.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: contain;
}

.cont-all{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: auto;   
}

.cont-text{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h1{ 
    margin-top: -100px;
    margin: 0;
    padding: 0;
    font-size: 4.3em;
    color: rgba(255, 255, 255, 0.604);
    font-family: 'Libre Baskerville', serif;
    text-shadow: 0.1em 0.1em rgb(26, 25, 25);
}

input{
    margin: auto;
    margin-top: 70px;
    width: 300px;
    height: 80px;
    color: rgb(192, 184, 184);
    font-size: 2em;
    border-radius: 30px;
    background-color: rgba(247, 124, 67, 0.848);
}


input:hover{
    background-color: brown;
    transition: 0.4s;
}