nav{
    width: 100%;
    background-color: rgba(2, 19, 50, 0.825);
}

nav h1 a{
    display: flex;
    float: right;
    margin-top: 20px;
    margin-right: 5px;
}
nav input {
    width: 25%;
    height: 35px;
    margin: 20px 5px;
    padding-left: 23px;
    float: right;
    border-radius: 50px;
    border: none;
    background-color: white;
    color: black;
    box-shadow: 10px 5px 60px rgba(2, 2, 2, 0.527);
}


@media (max-width: 767px){
    nav{
        width: 100%;
        float: left;
    }
    nav h1 a{
        float: left;
        margin-top: 25px;
        margin-right: 5px;
    }

    nav input{
        width: 50%;
        float: left;
    }

}

.viewSearch{
    display: none;
}



/*Mostrarlo despues de los 770px*/






