#accordionSidebar{
    background-color: #45d100;
}

footer{
    background-color: #a1a1a1;
    color: white;
}
#footer{    
    background-color: #a1a1a1;
    color: white;}

.navbar{
    background-color: #ffffff;
   }