/*-----------------------MODULO ADMINISTRACION----------------------*/

.container_administracion{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    padding: 2em;
    justify-content: space-evenly;
    align-items: center;
}

.container_form{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    margin: auto;
    text-align: center;
}

.container_tabla{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    text-align: center;
    margin: 12px;
}

[type="submit"]{
    margin: 10px;
}